* {
  padding: 0;
  margin: 0;
  position: relative;
  color: white;
}
span {
  display: block;
}

main {
  margin: auto;
  display: grid;
  justify-content: space-between;
  width: 60%;
  align-content: center;
  height: 100vh;
  grid-template-columns: auto auto auto auto;
}
.user-profile {
  background-color: hsl(246, 80%, 60%);
  padding: 20px;
  border-radius: 5px;
}
.user-profile h1 {
  margin-bottom: 50px;
}
.jeremy {
  width: 30%;
  height: 30%;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 20px;
}
.time-frame {
  background-color: hsl(235, 46%, 20%);
  padding: 20px;
  border-radius: 5px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
li {
    cursor: pointer;
    color: hsl(235, 45%, 61%);
}
li:hover, .active {
    color: white;
}

.exercise-hero,
.work-hero,
.play-hero,
.social-hero,
.study-hero,
.self-hero {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}
.work-hero {
  background-color: hsl(15, 100%, 70%);
}
.exercise-hero {
  background-color: hsl(145, 58%, 55%);
}
.play-hero {
  background-color: hsl(195, 74%, 62%);
}
.social-hero {
  background-color: hsl(264, 64%, 52%);
}
.study-hero {
  background-color: hsl(348, 100%, 68%);
}
.self-hero {
  background-color: hsl(43, 84%, 65%);
}
.work-text,
.exercise-text,
.play-text,
.social-text,
.study-text,
.selfcare-text {
  background-color: hsl(235, 46%, 20%);
  height: 7em;
  border-radius: 10px;
  padding: 0;
  margin-top: -15px;
}
.exercise-img,
.work-img,
.play-img,
.social-img,
.study-img,
.selfcare-img {
  width: 30%;
}
.data {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
